body {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.container {
    border: 1px solid black;
    padding: 20px;
    display: flexbox;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background-color: lightpink;
    margin-bottom: 20px;
}
.container input {
    margin-bottom: 10px; 
}
#btn {
    color: black;
    background-color: white;
    border: none;
    padding: 5px 15px;
    font-family: 'Courier New', Courier, monospace;
}

#btn:hover{
    background-color: hotpink;
    color: black;
}
.answer-box {
    border: 1px solid black;
    padding: 0 20px;
    margin: 0 auto;
    width: 30%;
    background-color: lightpink;
}